[run]
branch = True
source =
    variable_generator
    tests

[paths]
source =
    variable_generator
    .tox/*/lib/python*/site-packages/variable_generator
    .tox/pypy/site-packages/variable_generator